<% content_for :head do %>
  <style>
    body {
      font-family: cursive;
    }
  </style>
<% end %>

<h1><%= t '.your_password' %></h1>

<%= t '.admin_sent' %><br/>
<%= t '.set_new_password' %>
<%#= link_to '' TODO %>
