// Core SCSS file.
// Should be included on all pages

$content_font: 'Noto Sans';
$link_color: #205ba1;
$radius: 0.3em;

html {
  //Always show scroll-bar to prevent sudden width-changes when navigating pages
  overflow-y: scroll;
}

body {
  background-color: #E9E9E9;
  margin: 0;
}

div.mass-container {
  font-family: $content_font;
  margin: 1em 6em;
  // TODO: Decide on a max-width
  // max-width: 32cm;
  background-color: white;
  padding: 0.6em 0.8em;
  border-radius: $radius;
  box-shadow: 0px 0px 4px #BBB;
}

div.header { // Topmost portion of page. Also .mass-container
  border-radius: 0 0 $radius $radius;
  margin-top: 0 !important;
  background-color: #F0F0F0;
  h1 {
    margin: 0.2rem;
    font-family: Lato;
    font-weight: lighter;
    .trivia {
      position: relative;
      display: none;
      
      margin: 0 0 0 1em;
      top: -0.5em;
      padding: 0;
    }
  }
  form.search { // Search field
    margin-right: 0.2em;
    text-align: right;
    input { // Text input & submit button
      border: 0px solid gray;
      border-bottom-width: 1px;
      background-color: transparent;
      padding-bottom: 0.3em;
      transition-duration: 0.4s;
      font-size: 18px;
      font-family: $content_font;
    }
    input[type='submit'] { // Submit button
      border: 0;
      padding: 0;
      font-size: 24px;
      color: gray;
    }
    input:hover { //Text input & submit button on hover
      border-color: black;
      color: black;
    }
  }
}

.mat-icns { // Material Icons (Modified from https://github.com/google/material-design-icons)
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  
  position: relative;
  top: 0.2em;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

ul.trivia { // Trivia display
  font-size: small;
  color: grey;
  list-style-type: none;
}

table.nav { // Navigation table
  width: 100%;
  
  td.home, td.menu-btn { // Home & Menu button containers
    width: 28px;
    padding-left: 0.2em;
    a { // Anchor inside
      text-decoration: none;
      color: #444;
    }
  }
  td.menu-btn { // Menu button container
    display: none;
    text-align: right;
    padding-left: 0;
    padding-right: 0.2em;
  }
  td.items { // Navigation links container
    padding-left: 0.4em;
    a {
      font-family: "Lato";
      padding: 0 0.5em;
      text-decoration: none;
      color: $link_color;
    }
  }
}

div.content { // Also .mass-container
  min-height: 200px;
}

div.footer { // Bottom display. Not .mass-container
  font-family: $content_font;
  margin: 1em 6em;
  padding: 0.2em 0.4em;
  a {
    text-decoration: none;
    color: $link_color;
  }
}
