// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/variables";

span.item_type {
  background-color: #DDD;
  padding: 0 2px;
  border-radius: 4px;
  color: black;
}

span.item_type.core { background-color: #7db9e0; }
span.item_type.feature { background-color: #e07d7d; }


div.item_list {
  a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    padding: 0.2em;
  }
  span.title {
    display: block;
    color: $link_color;
    font-size: 18px;
    font-weight: bold;
  }
}


div.items_show {
  width: 49.7%;
  display: inline-block;
  vertical-align: top;
  h2 {
    margin: 0;
    display: inline-block;
    margin: 0.1em 0.1em 0.1em 0;
  }
  .uid {
    font-size: small;
    color: gray;
  }
  
  a.edit {
    color: gray;
    text-decoration: none;
    top: 0.12em;
  }
}

div.items_show.logs {
  display: inline-table;
  h2 {
    display: table-caption;
    border-bottom: 1px solid gray;
  }
  .log {
    color: $link_color;
    text-decoration: none;
    display: table-row;
    .log-content {
      display: table-cell;
      vertical-align: middle;
      
      span.log-removed:not(:empty) { margin-right: 0.6em; }
      span.log-removed:not(:empty)::before {
        content: "-";
        color: red;
        font-weight: bolder;
      }
      span.log-added:not(:empty)::before {
        content: "+";
        color: green;
        font-weight: bolder;
      }
    }
  }
  .new-log {
    .log-content {
      font-weight: bold;
    }
  }
  .log::before {
    content: image-url('history_item_middle.svg');
    display: table-cell;
    width: 64px;
    height: 64px;
    line-height: 0;
    position: relative;
  }
  .log:first-of-type::before { // New-log button
    content: image-url('history_item_add.svg');
  }
  .log:nth-of-type(2)::before { // First actual log
    content: image-url('history_item_top.svg');
  }
  .log:last-of-type::before {
    content: image-url('history_item_bottom.svg');
  }
  .log:only-of-type::before {
    content: image-url('history_item_only.svg');
  }
  
}

@media screen and (max-width: 22cm) {
  div.items_show {
    width: 100%;
  }
}

form.edit_item {
  input[type="text"] {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px grey;
    margin-bottom: 0.2em;
    
    width: 100%;
    max-width: 16em;
  }
}

// items#show, viewing mode
form.edit_item:not(.open) .field {
  input {
    display: none;
  }
}

// items#show, editing mode
form.edit_item.open .field {
  span.value {
    display: none;
  }
}

form.new_item {
  display: table;
  .section {
    display: table-row;
    label, input, select, span {
      display: table-cell;
    }
    select {
      width: 100%;
    }
    label {
      padding-right: 0.6em;
    }
  }
}
