// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link_color: #205ba1;
$content_font: 'Noto Sans';

span.item_type {
  background-color: #DDD;
  padding: 0 2px;
  border-radius: 4px;
}

span.item_type.core { background-color: #7db9e0; }
span.item_type.feature { background-color: #e07d7d; }


div.item_list {
  a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    padding: 0.2em;
  }
  span.title {
    display: block;
    color: $link_color;
    font-size: 18px;
    font-weight: bold;
  }
}


div.items_show {
  width: 50%;
  h2 {
    margin: 0;
    display: inline-block;
    margin: 0.1em 0.1em 0.1em 0;
  }
  .uid {
    font-size: small;
    color: gray;
  }
  
  a.edit {
    color: gray;
    text-decoration: none;
    top: 0.12em;
  }
}

form.edit_item {
  input[type="text"] {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px grey;
    margin-bottom: 0.2em;
  }
}

// items#show, viewing mode
form.edit_item:not(.open) .field {
  input {
    display: none;
  }
}

// items#show, editing mode
form.edit_item.open .field {
  span.value {
    display: none;
  }
}

form.new_item {
  display: table;
  .section {
    display: table-row;
    label, input, select, span.empty {
      display: table-cell;
    }
    select {
      width: 100%;
    }
    label {
      padding-right: 0.6em;
    }
  }
}
