// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/variables";

div.item-minidisplay {
  border: solid 1px gray;
  display: inline-block;
  padding: 0.3em 0.4em;
  background-color: rgba(0, 0, 0, 0.05);
  
  .title {
    font-weight: bold;
  }
  .uid {
    color: gray;
    font-size: small;
    display: block;
  }
}


form.new_log {
  div.section {
    label {
      font-weight: bold;
      display: block;
      margin-top: 0.2em;
    }
  }
}

.error {
  color: red;
}
