// Responsive design selectors (@media)


@media screen and (max-width: 32cm) {
  // Apply max width instead of static padding
  div.mass-container, div.footer {
    margin: 1em auto;
    max-width: 28cm - 2cm;
  }
}

@media screen and (max-width: 28cm) {
  // Small static margin
  div.mass-container, div.footer {
    margin: 1em 1em;
  }
}

@media screen and (max-width: 14cm) {
  // Collapse navigation items & search bar into a menu (closed by default)
  table.nav {
    .menu-btn, .home {
      display: inline-block !important;
    }
    .home {
      position: absolute;
    }
    .menu-btn {
      margin-left: 100%;
      left: -1em;
    }
    .items, .search {
      display: none;
    }
    .isOpen {
      display: block;
    }
    .items {
      padding-top: 0.4em;
      a:first-of-type {
        padding-left: 0;
      }
    }
  }
  div.header h1 {
    // Make title font size a tad smaller
    font-size: 24px;
    .trivia {
      // Mode trivia display under title
      margin: 0.8em 0 -1em 0.4em;
      display: block !important;
    }
  }
}

@media screen and (max-width: 9cm) {
  // Make navigation items & search bar font size smaller
  table.nav {
    form.search input, td.items a {
      font-size: 12px;
    }
  }
}
