// Responsive design selectors (@media)


@media screen and (max-width: 32cm) {
  // Apply max width instead of static padding
  body {
    margin: 0 auto;
    max-width: 28cm - 1.2cm;
  }
}



@media screen and (max-width: 600px) {
  // Collapse navigation items & search bar into a menu (closed by default)
  div.nav {
    flex-wrap: wrap;
    .menu-btn, .home {
      display: inline-block !important;
    }
    .items, .search {
      width: 100%;
      display: none;
    }
    .isOpen {
      display: block;
    }
    .items {
      
      padding-top: 0.4em;
      a:first-of-type {
        padding-left: 0;
      }
    }
  }
  div.header h1 {
    // Make title font size a tad smaller
    font-size: 24px;
    .trivia {
      // Mode trivia display under title
      margin: 0.6em 0 -1em 0.4em;
      display: block !important;
      
    }
  }
  #lyli-name-field {
    width: 12em;
  }
}

@media screen and (max-width: 12cm) {
  body.clear {
    margin-top: 1em;
  }
}

@media screen and (max-width: 9cm) {
  // Make navigation items & search bar font size smaller
  div.nav {
    form.search input, div.items a {
      font-size: 12px;
    }
  }
}
