// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/variables";


h1.login {
  font-family: Lato;
}

form.login {
  input {
    display: block;
    width: 98.9%;
    font-size: 24px;
    
    font-family: $content_font;
    background: transparent;
    border: 1px solid #BBB;
    box-shadow: 0px 0px 2px #DDD inset;
    
    transition-duration: 0.5s;
  }
  
  input:focus {
    border: 1px solid #71c5d7;
    box-shadow: 0px 0px 2px #b1e5ff;
  }
  
  input[type="submit"] {
    border: 1px solid #BBB;
    box-shadow: 0px 0px 2px #DDD;
    margin-top: 0.4em;
    width: 100%;
    background: #EAEAEA;
  }
  
  input[type="submit"]:hover {
    background: #EFEFEF;
    box-shadow: 0 1px
     3px #DDD;
  }
  
  input[type="submit"]:focus {
    border: 1px solid #71c5d7;
    box-shadow: 0px 0px 2px #b1e5ff inset;
  }
}
