// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_user {
  display: table;
  .section {
    display: table-row;
    label, input, select, span.empty {
      display: table-cell;
    }
    select {
      width: 100%;
    }
    label {
      padding-right: 0.6em;
    }
  }
}
