<%# Partial for displaying an affected items list %>

<div class="affected-items" id="affected-items">
  <% items and items.each do |uid| %>
    <% item = Item.find_by_uid uid %>
    <% if item %>
      <div class="item-minidisplay">
        <span class="title"><%= link_to item.title, item_path(item) %></span>
        <span class="features"><%= render 'items/features', item: item %></span>
        <span class="uid"><%= item.uid %></span>
      </div>
    <% end %>
  <% end %>
  <span class="affects-nothing"><%= t '.empty' if items.empty? %></span>
</div>
