<div class="item-minidisplay newly-added" style="display: none;">
  <span class="title"><%= link_to @item.title, item_path(@item) %></span>
  <span class="features"><%= render 'items/features', item: @item %></span>
  <span class="uid"><%= @item.uid %></span>
</div>
